---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "@cloudscape-design/global-styles/index.css";
---

<div>
	<div>
		<div>

		</div>
		<div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>

HOla MUndo